@define-color base00 #303446; @define-color base01 #292c3c; @define-color base02 #414559; @define-color base03 #51576d;
@define-color base04 #626880; @define-color base05 #c6d0f5; @define-color base06 #f2d5cf; @define-color base07 #babbf1;

@define-color base08 #e78284; @define-color base09 #ef9f76; @define-color base0A #e5c890; @define-color base0B #a6d189;
@define-color base0C #81c8be; @define-color base0D #8caaee; @define-color base0E #ca9ee6; @define-color base0F #eebebe;

* {
    font-family: "monospace";
    font-weight: bold;
    font-size: 10pt;
}

window#waybar {
}

window#waybar, tooltip {
    background: alpha(@base00, 0.900000);
    border-radius: 0px;
    color: @base05;
}

tooltip {
    border-color: @base0D;
}
#wireplumber,
#pulseaudio,
#sndio {
    padding: 0 5px;
}
#wireplumber.muted,
#pulseaudio.muted,
#sndio.muted {
    padding: 0 5px;
}
#upower,
#battery {
    padding: 0 5px;
}
#upower.charging,
#battery.Charging {
    padding: 0 5px;
}
#network {
    padding: 0 5px;
}
#network.disconnected {
    padding: 0 5px;
}
#user {
    padding: 0 5px;
}
#clock {
    padding: 0 5px;
    margin: 5px 0;
}
#custom-clock-icon {
  padding: 0 7px;
  margin-top: 0px;
  font-size: 11pt;
}
#backlight {
    padding: 0 5px;
}
#cpu {
    padding: 0 5px;
}
#disk {
    padding: 0 5px;
}
#idle_inhibitor {
    padding: 0 5px;
}
#temperature {
    padding: 0 5px;
}
#mpd {
    padding: 0 5px;
}
#language {
    padding: 0 5px;
}
#keyboard-state {
    padding: 0 5px;
}
#memory {
    padding: 0 5px;
}
#window {
    padding: 0 5px;
		color: @base0E;
}
#custom-launcher {
  padding: 0 10px;
  font-size: 17pt;
  margin-top: 0;
	color: @base07;
}
#custom-poweroff {
  padding: 0 5px;
  margin-right: 13px;
  font-size: 13pt;
	color: @base08;
}
#custom-audio-icon {
  padding: 0 5px;
  font-size: 13pt;
}
#custom-temperature-icon {
  margin-right: 0px;
  padding-left: 5px;
  padding-right: 2px;
}
#temperature {
  padding-left: 0px;
  padding-right: 5px;
}
.modules-left #workspaces button {
    /*border-bottom: 3px solid transparent;*/
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.modules-left #workspaces {
	background-color: @base03;
	border: 2px solid @base04;
	border-radius: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.modules-left #workspaces button.focused,
.modules-left #workspaces button.active {
    /*border-bottom: 3px solid @base05;*/
		color: @base0E;
}

